/* Jorge Muñoz García 

- Código para los iconos de Bootsptrap:

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

- Código para el icono de los diamantes: 

<i class="bi bi-suit-diamond-fill"></i> 

- Fuente: Literata

- Colores: 
Fondo de las cartas, texto del contenedor flexible: gainsboro
Sombra de las cartas: #00000080;
Color de los diamantes: #900007;

*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: lightslategrey;
}

.panel{
    background-color: darkslategrey;
    width: 85vw;
    height: auto;
    margin-left: 6vw;
    margin-right: 6vw;
    border-radius: 5px;
    border: 5px solid white;
    border-radius: 20px;
    font-family: 'Archivo Narrow', sans-serif;

    & h1{
        color: white;
        text-align: center;
        padding-top: 3vh;
        font-size: 3.5vw;
    }
    
    & hr{
        width: 70vw;
        height: 5px;
        background-color: white;
        color: white;
        margin-top: 1.5vh;
        margin-left: 7vw;
    }

    & .card_container{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 5vh;

        & i{
            color: red;
        }

        & .card{
            display: flex;
            justify-content: space-between;
            margin: 1%;
            margin-left: 30px;
            width: 225px;
            height: 320px;
            border: 3px solid gainsboro;
            border-radius: 10px;
            background-color: gainsboro;

            & .principio_carta{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                align-self: flex-start;

                & p{
                    margin-left: 3px;
                }
            }
            
            & .final_carta{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                align-self: flex-end;
                
                & p{
                    margin-right: 3px;
                }
            }

            & .columna1, .columna2, .columna3{
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                & div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 15px 0;

                    & i{
                        font-size: 40px;
                    }
                }
            }
        }

        & .card1{

            & .diamante1{
                align-self: center;
            }
        }

        & .card5{
            & .diamante1{

            }
        }

        & .card6{
            
            & .columna1{

            }

            & .columna2{

            }
        }

        & .card7{
            /**/
            & .columna1{

            }

            & .diamante1{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            & .columna3{

            }
        }

        & .card8{
            /**/
            & .columna1{

            }

            & .columna2{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            & .columna3{

            }
        }

        & .card9{
            /**/
            & .columna1{

            }

            & .diamante1{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            & .columna2{

            }
        }

        & .card10{
            /**/
            & .columna1{

            }

            & .columna2{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            & .columna3{

            }
        }

        & .card_j{

            & .image{
                background-image: url("./images/JD.png");

            }
        }

        & .card_q{
            
            & .image{
                background-image: url("./images/QD.png");

            }
        }

        & .card_k{
            
            & .image{
                background-image: url("./images/KD.png");

            }
        }
    }
}