/*Jorge Muñoz García*/

@font-face{
    font-family: "Pokemon_solid";
    src: url("./fonts/Pokemon\ Solid.ttf") format('truetype');
}

@font-face{
    font-family: "Pokemon_classic";
    src: url("./fonts/Pokemon\ Classic.ttf") format('truetype');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("./images/nebula.png");
    background-size: 100% 100% cover;
}

header{
    font-family: "Pokemon_solid";
    letter-spacing: 6px;
    line-height: 60px;
    transform: translateY(20%);

    & h1{
        text-align: center;
        color: white;
        font-size: 2.5em;
    }

    & p{
        text-align: center;
        color: white;
        font-size: 1.8em;
    }
}

main{
    width: 90%;
    height: 140vh;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;

    /*Checkboxs para comprobar el estado y girar el div.*/
    & div{
        transition: 1s;
        cursor: pointer;

        & input{
            display: none;
        }

        & input:checked + label{
            & .front{
                transform: rotateY(180deg);
            }

            & .back{
                transform: rotateY(0deg);
            }
        }

        & label{ 
            & .front{
                transform: rotateY(0deg);
            }
            
            & .back{
                transform: rotateY(180deg);
            }
        }
    }
    
    /*Estilos partes frontales y traseras de las cajas*/
    & div label .front{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        background-size:  100% 100%;
        border: 3px solid black;
        border-radius: 10px;
        transform: rotateY(0deg);
        transition: 1s; 
        font-family: "Pokemon_solid";

        & img{
            width: 100%;
            height: 100%;
        }

        & div{
            display: flex;
            position: absolute;
            width: 95%;
            height: 40px;
            margin: 0 auto;
            bottom: 3%;
            left: 2.5%;
            opacity: 0;
            transition: 1s;
            border-radius: 5px;
            color: white;
            align-items: center;
            background-color: #ff66a3;
            overflow: hidden;
            animation: sombreado 1s infinite alternate;

            & h3{
                position: absolute;
                width: 100%;
                height: 100%;
                margin: 0 auto;
                padding-bottom: 45%;
                text-align: center;
                font-size: 1.8vw;
                letter-spacing: 7px;
                border-radius: 5px;
                background: linear-gradient(to bottom, #412eba, #a73386, #aa402e);
                text-shadow: 5px 2px 5px #ff66a3;
                transform: translateX(-100%);
                transition-duration: 1.5s;
            }
        }
    }
    
    & div label .back{
        display: grid;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        background-image: url("./images/pokeball.png");
        background-size: 100% 100%;
        border: 3px solid black;
        border-radius: 10px;
        transform: rotateY(180deg);
        transition: 1s;
        align-items: center;
        font-weight: bold;
        font-family: "Pokemon_classic";

        & p{
            margin: 0 auto;
            margin-left: 3%;
            margin-right: 3%;
            padding: 10px;
            font-size: 0.85vw;
            text-align: center;
            border-radius: 10px;
            background-color: rgba(227, 248, 252, 0.548);
        }
    }

    & div:hover .front{
        & div{
            opacity: 0.75;

            & h3{
                text-align: center;
                transform: translateX(0%);
            }
        }
    }

    /*Estilos grid para el posicionamiento de las cajas*/
    & .caja1{
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        position: relative;

        & label{ 
            & .front{
                background: radial-gradient(circle, #8336b5, #54134e);

                & div{
                    height: 17%;

                    & h3{
                        padding-bottom: 35%;
                        font-size: 2.6vw;
                    }
                }
            }
        }
    }

    & .caja2{
        grid-column-start: 3;
        grid-row-start: 1;
        position: relative;
    
        & label{ 
            & .front{
                background: radial-gradient(circle, #689a9e, #073991);
            }
        }
    }

    & .caja3{
        grid-column: 4 / span 2;
        grid-row-start: 1;
        position: relative;
    
        & label{ 
            & .front{
                overflow: hidden;

                & div{
                    & h3{
                        padding-bottom: 22%;
                    }
                }
            }
            
            & .back{
                background-image: url("./images/pokeball2.png");
            }
        }
    }

    & .caja4{
        grid-column: 3 / span 2;
        grid-row: 2 / span 2;
        position: relative;
    
        & label{ 
            & .front{
                background: radial-gradient(circle, #8336b5, #54134e);

                & div{
                    height: 17%;

                    & h3{
                        padding-bottom: 35%;
                        font-size: 2.6vw;
                    }
                }
            }
        }
    }

    & .caja5{
        grid-column-start: 5;
        grid-row-start: 2;
        position: relative;

        & label{ 
            & .front{
                background: radial-gradient(circle, #689a9e, #073991);
            }
        }
    }

    & .caja6{
        grid-column-start: 6;
        grid-row-start: 2;
        position: relative;
    
        & label{ 
            & .front{
                background: radial-gradient(circle, #689a9e, #073991);
            }
        }
    }

    & .caja7{
        grid-column-start: 5;
        grid-row-start: 3;
        position: relative;

        & label{ 
            & .front{
                background: radial-gradient(circle, #689a9e, #073991);
            }
        }
    }

    & .caja8{
        grid-column-start: 3;
        grid-row-start: 4;
        position: relative;

        & label{ 
            & .front{
                background: radial-gradient(circle, #689a9e, #073991);
            }
        }
    }

    & .caja9{
        grid-column: 4 / span 2;
        grid-row: 4 / span 2;
        position: relative;

        & label{ 
            & .front{
                background: radial-gradient(circle, #8336b5, #54134e);
                
                & div{
                    height: 17%;

                    & h3{
                        padding-bottom: 35%;
                        font-size: 2.6vw;
                    }
                }
            }
        }
    }

    & .caja10{
        grid-column-start: 6;
        grid-row-start: 4;
        position: relative;
    
        & label{ 
            & .front{
                background: radial-gradient(circle, #689a9e, #073991);
            }
        }
    }

    & .caja11{
        grid-column-start: 1;
        grid-row-start: 5;
        position: relative;
    
        & label{ 
            & .front{
                background: radial-gradient(circle, #689a9e, #073991);
            }
        }
    }

    & .caja12{
        grid-column: 2 / span 2;
        grid-row-start: 5;
        position: relative;
    
        & label{ 
            & .front{
                overflow: hidden;
                
                & div{
                    & h3{
                        padding-bottom: 22%;
                    }
                }
            }
            
            & .back{
                background-image: url("./images/pokeball2.png");
            }
        }
    }

}

/*Animaciones*/
@keyframes sombreado {
    to {
        box-shadow: 0 0 5px 2px white;
    }

    from {
        box-shadow: 0 0 5px 6px white;
    }
}

/*Responsive*/
@media screen and (max-width: 950px){
    header{
        letter-spacing: 7px;

        & h1{
            font-size: 5.5vw;
        }

        & p{
            font-size: 2.5vw;
        }
    }

    main{
        width: 90%;
        height: 600vh;
        margin: 0 auto;
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;

        & div{
            width: 60vw;
            height: 60vh;
            margin: 0 auto;
            grid-column-start: 1;

            & label{
                & .front{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    
                    & img{
                        width: 0 auto;
                    }

                    & div{
                        opacity: 1;
                        height: 12%;
                        
                        & h3{
                            opacity: 1;
                            padding-top: 20%;
                            font-size: 4vw;
                            transform: translate(0px);
                        }
                    }
                }

                & .back{
                    width: 100%;

                    & p{
                        font-size: 2vw;
                    }
                }
            }
        }

        & div:not(.caja1, .caja3, .caja4, .caja9, .caja12){
            left: 1vw;
        }

        & .caja1, .caja4, .caja9{
            & label{
                & .front{
                    & div{
                        height: 12.5%;
                        
                        & h3{
                            padding-top: 9.5%;
                            font-size: 4vw;
                        }
                    }
                }

            }
        }

        & .caja1{
            grid-column-start: 1;
            grid-row: 1 / span 5;
        }

        & .caja2{
            grid-column-start: 1;
            grid-row: 6 / span 5;
        }

        & .caja3{
            grid-column-start: 1;
            grid-row: 11 / span 5;

            & label{
                & .front{
                    background: radial-gradient(circle, #d14dbc, #39b644, #efd02f);

                    & img{
                        content: url('./images/milotic-sq.png');
                    }

                    & div{
                        height: 12.5%;
                        
                        & h3{
                            padding-top: 1%;
                            padding-bottom: 24.5%;
                            font-size: 4vw;
                        }
                    }
                }

            }
        }

        & .caja4{
            grid-column-start: 1;
            grid-row: 16 / span 5;
        }

        & .caja5{
            grid-column-start: 1;
            grid-row: 21 / span 5;
        }

        & .caja6{
            grid-column-start: 1;
            grid-row: 26 / span 5;
        }

        & .caja7{
            grid-column-start: 1;
            grid-row: 31 / span 5;
        }

        & .caja8{
            grid-column-start: 1;
            grid-row: 36 / span 5;
        }

        & .caja9{
            grid-column-start: 1;
            grid-row: 41 / span 5;
        }

        & .caja10{
            grid-column-start: 1;
            grid-row: 46 / span 5;
        }

        & .caja11{
            grid-column-start: 1;
            grid-row: 51 / span 5;
        }

        & .caja12{
            grid-column-start: 1;
            grid-row: 56 / span 5;

            & label{
                & .front{
                    background: radial-gradient(circle, #d14dbc, #39b644, #efd02f);
                    
                    & img{
                        content: url('./images/staraptor-sq.png');
                    }

                    & div{
                        height: 12.5%;
                        
                        & h3{
                            padding-top: 1%;
                            padding-bottom: 26%;
                            font-size: 4vw;
                        }
                    }
                }

            }
        }
    }
}

/*Segundo responsive*/
@media screen and (max-width: 775px){
    main{
        width: 90%;
        height: 600vh;
        margin: 0 auto;
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;

        & div{
            width: 85vw;
            height: 60vh;
            margin: 0 auto;
            grid-column-start: 1;

            & label{
                & .front{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    
                    & img{
                        width: 0 auto;
                    }

                    & div{
                        opacity: 1;
                        height: 12%;
                        
                        & h3{
                            opacity: 1;
                            padding-top: 23%;
                            font-size: 5vw;
                            transform: translate(0px);
                        }
                    }
                }

                & .back{
                    width: 100%;

                    & p{
                        font-size: 2.5vw;
                    }
                }
            }
        }

        & .caja1, .caja4, .caja9{
            & label{
                & .front{
                    background: radial-gradient(circle, #ee4fbb, #f7956f, #f8d12d, #49b842);

                    & div{
                        height: 12.5%;
                        
                        & h3{
                            padding-top: 12%;
                            font-size: 5vw;
                        }
                    }
                }

            }
        }

        & .caja2{
            & label{
                & .front{
                    background: radial-gradient(circle, #95bd37, #f7d12e, #fdc13f, #ed41cb, #ed41cb);
                }
            }
        }

        & .caja3{
            & label{
                & .front{
                    background: radial-gradient(circle, #d14dbc, #39b644, #efd02f);

                    & div{
                        height: 12.5%;
                        
                        & h3{
                            padding-top: 1%;
                            padding-bottom: 22%;
                            font-size: 5vw;
                        }
                    }
                }
            }
        }

        & .caja5{
            & label{
                & .front{
                    background: radial-gradient(circle, #95bd37, #fdc13f, #ed41cb);
                }
            }
        }

        & .caja6{
            & label{
                & .front{
                    background: radial-gradient(circle, #95bd37, #fdc13f, #ed41cb);
                }
            }
        }

        & .caja7{
            & label{
                & .front{
                    background: radial-gradient(circle, #95bd37, #fdc13f, #ed41cb);
                }
            }
        }

        & .caja8{
            & label{
                & .front{
                    background: radial-gradient(circle, #95bd37, #fdc13f, #ed41cb);
                }
            }
        }

        & .caja10{
            & label{
                & .front{
                    background: radial-gradient(circle, #95bd37, #fdc13f, #ed41cb);
                }
            }
        }

        & .caja11{
            & label{
                & .front{
                    background: radial-gradient(circle, #95bd37, #fdc13f, #ed41cb);
                }
            }
        }

        & .caja12{
            & label{
                & .front{
                    background: radial-gradient(circle, #d14dbc, #39b644, #efd02f);

                    & div{
                        height: 12.5%;
                        
                        & h3{
                            padding-top: 1%;
                            padding-bottom: 22%;
                            font-size: 5vw;
                        }
                    }
                }

            }
        }
    }
}