/*Jorge Muñoz García*/

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Teko:wght@300..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("./images/background.svg");
    background-color: yellowgreen;
}

& h1{
    width: 90%;
    margin: 0 auto;
    font-size: 3em;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    text-align: center;
    letter-spacing: 3px;
    background-color: rgba(29, 8, 49, 0.623);
    color: white;
    font-family: "Teko", sans-serif;
}

h2{
    font-family: "Teko", sans-serif;
}

h3, p{
    font-family: "Fredoka", sans-serif;
}

main{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    background-color: rgba(29, 8, 49, 0.623);
    color: white;

    & .caja3{
        & .contenido{
            & .contact{
                & .socialmedia{
                    & i{
                        margin-top: 20%;
                    }
                }
            }
        }
    }

    & .caja4{
        & .contenido{
            & .contact{
                & .socialmedia{
                    & i{
                        margin-top: 8%;
                    }
                }
            }
        }
    }

    & .parejita{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        & .caja{
            width: 30vw;
        }

        & .caja1{
            background-color: rgba(114, 44, 180, 0.623);
        }

        & .caja2{
            background-color: rgba(114, 44, 180, 0.623);
        }

        & .caja5{
            background-color: rgba(214, 203, 40, 0.623);
        }

        & .caja6{
            background-color: rgba(214, 203, 40, 0.623);
        }
    }

    & .caja3, .caja4{
        display: flex;
        flex-direction: column;
        background-color: rgba(214, 51, 51, 0.623);
    
        & h2{
            margin-top: 5%;
        }

        & h3{
            margin-top: 3%;
        }

        & p{
            margin-top: 5%;
        }
    }

    & .caja{
        height: 70vh;
        margin: 0.7vw;
        transition: 1s ease-in-out;

        & .contenido{
            display: flex;
            flex-direction: column;
            margin: 5px;
        }

        & img{
            width: 50%;
            margin: 0 auto;
            margin-top: 30px;
            border: 3px solid black;
            border-radius: 50%;
        }

        /*Name*/
        & h2{
            font-size: 2.3em;
            padding-top: 3%;
            letter-spacing: 2px;
        }

        /*Job*/
        & h3{
            font-size: 1.7em;
            font-weight: 100;
            padding-top: 4%;
            letter-spacing: 2px;
        }

        /*Languages*/
        & p{
            text-align: justify;
            font-size: 1.5em;
            font-weight: 100;
            padding-top: 7%;
            padding-left: 50px;
            padding-right: 50px;
        }

        /*Contact*/
        & .contact{
            display: none;

            & .socialmedia{
                visibility: hidden;
                
                & i{
                    margin-top: 5%;
                }
            }
        }
    }

    & .caja:hover{
        border: 3px solid white;
    
        & h2{
            margin-right: 40px;
            margin-left: 40px;
            border-bottom: 3px solid white;
        }
    
        & .contact{
            display: block;

            & .socialmedia{
                visibility: visible;
        
                & i{
                    font-size: 35px;
                    transition: 1s;
                }
        
                & i:hover{
                    color: greenyellow;
                    cursor: pointer;
                }
            }
        }
    } 
}

@media screen and (max-width: 2000px) {
    .caja3, .caja4{
        width: 20vw;
    }
}

@media screen and (max-width: 1250px) {
    .parejita{
        width: 95%;

        & .caja{
            flex-basis: 100%;

            & .contenido{
                & img{
                    width: 40%;
                }
                
                & h2{
                    font-size: 2.5vw;
                }
    
                & h3{
                    font-size: 1.8vw;
                }
    
                & p{
                    font-size: 1.6vw;
                }
            }
        }
    }
    
    .caja3, .caja4{
        flex-basis: 94.5%;

        & .contenido{
            & img{
                width: 25%;
            }
            
            & h2{
                transform: translateY(-90%);
            }

            & h3{
                transform: translateY(-170%);
            }

            & p{
                font-size: 1.6vw;
                transform: translateY(-220%);
                text-align: center;
            }

            & .contact{
                transform: translateY(-150%);
            }
        }
    }

    .caja4{
        & .contenido{
            & p{
                transform: translateY(-200%);
            }

            & .contact{
                
            }
        }
    }
}

@media screen and (max-width: 850px) {
    h1{
        font-size: 6vw;
    }

    main{
        display: grid;
        grid-template-columns: 1fr;

        & .caja3, .caja4{
            width: 95%;
            height: 400px;
            margin: 0 auto;
            margin-left: 3%;
            margin-top: 0.5%;

            & .contenido{
                margin: 0 auto;
                
                & img{
                    margin-top: 1%;
                    width: 25%;
                }

                & h2{
                    font-size: 2em;
                }

                & h3{
                    margin-top: 1.5%;
                    font-size: 1.2em;
                }

                & p{
                    margin-top: 14%;
                    font-size: 1.1em;
                }

                & .contact{
                    display: block;
                    margin-top: -8%;
                    
                    & .socialmedia{
                        visibility: visible;

                        & i{
                            font-size: 2em;
                        }
                    }
                }
            }
        }

        & .caja4{
            margin-top: 1%;
            margin-bottom: 1%;

            & .contenido{
                & p{
                    margin-top: 12%;
                    font-size: 1.1em;
                }

                & .contact{
                    display: block;
                    margin-top: -12%;
                    
                    & .socialmedia{
                        visibility: visible;

                        & i{
                            font-size: 2em;
                        }
                    }
                }
            }
        }
    }

    .parejita:nth-of-type(1){
        flex-direction: column;
        grid-row-start: 1;
        margin: 0 auto;

        & div{
            width: 100%;
            height: 400px;

            & .contenido{
                margin: 0 auto;

                & img{
                    margin-top: 1%;
                    width: 25%;
                }

                & h2{
                    font-size: 2em;
                    transform: translateY(-20%);
                }

                & h3{
                    font-size: 1.2em;
                    transform: translateY(-50%);
                }

                & p{
                    font-size: 1.1em;
                    margin-top: -8%;
                }

                & .contact{
                    display: block;
                    margin-top: -1.25%;
                    
                    & .socialmedia{
                        visibility: visible;

                        & i{
                            font-size: 2em;
                        }
                    }
                }
            }
        }
    }

    .parejita:nth-of-type(2){
        flex-direction: column;
        grid-row-start: 4;
        margin: 0 auto;
        
        & div{
            width: 100%;
            height: 400px;

            & .contenido{
                margin: 0 auto;

                & img{
                    margin-top: 1%;
                    width: 25%;
                }

                & h2{
                    font-size: 2em;
                    transform: translateY(-20%);
                }

                & h3{
                    font-size: 1.2em;
                    transform: translateY(-50%);
                }

                & p{
                    font-size: 1.1em;
                    margin-top: -8%;
                }

                & .contact{
                    display: block;
                    margin-top: -1.25%;
                    
                    & .socialmedia{
                        visibility: visible;

                        & i{
                            font-size: 2em;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 630px){
    main{
        & .caja3, .caja4{
            & .contenido{
                & h2{
                    margin-top: 4vh;
                }

                & h3{
                    margin-top: 3.5%;
                }

                & p{
                    margin-top: 28%;
                }

                & .contact{
                    margin-top: -20%;
                }
            }
        }

        & .caja3{
            & .contenido{
                & p{
                    margin-top: 35%;
                }

                & .contact{
                    margin-top: -20%;
                }
            }
        }

        & .parejita{
            & .contenido{

                & h3{
                    margin-top: 1%;
                }

                & p{
                    padding-top: 12%;
                }

                & .contact{
                    padding-top: 5%;
                }
            }
        }
    }
}