/*Jorge Muñoz García*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("./images/background.jpg");
    background-size: 100% 120%;
    background-repeat: no-repeat;
    font-family: 'Nunito', sans-serif;
}

main{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 80vw;
    height: 650px;

    background-color: chocolate;
    margin: 80px auto;
    border: 8px solid #6d3764;
    border-radius: 10px;

    /*HORAS DE CLASE*/
    & .horas{
        grid-column: 1/3;
        text-align: center;
        color: white;
        background-color: red;
        border: 2px solid black;
        cursor: default;
    }

    & .primera_h{
        grid-row-start: 2;
    }

    & .segunda_h{
        grid-row-start: 3;
    }

    & .tercera_h{
        grid-row-start: 4;
    }

    & .cuarta_h{
        grid-row-start: 5;
    }

    & .quinta_h{
        grid-row-start: 6;
    }

    & .ultima_h{
        grid-row-start: 7;
    }

    /*DÍAS DE CLASE*/

    & .dias{
        text-align: center;
        font-weight: bold;
        padding-top: 10%;
        background-color: black;
        color: white;
        border: 2px solid white;
        cursor: default;
    }

    & .lunes{
        grid-column-start: 3;
    }

    & .martes{
        grid-column-start: 4;
    }

    & .miercoles{
        grid-column-start: 5;
    }

    & .jueves{
        grid-column-start: 6;
    }

    & .viernes{
        grid-column-start: 7;
    }

    /*ASIGNATURAS*/
    & .asignaturas{

    }

    & .diw{
        background-color: #6d3764;
    }

    & .daw{
        background-color: red;

    }

    & .dwes{
        background-color: green;

    }

    & .dwec{
        background-color: yellow;

    }

    & .eiem{
        background-color: turquoise;

    }

    & .dos_filas_diw_lunes{
        grid-column-start: 3;
        grid-row: 2/4;
    }

    & .dos_columnas_dwes_lunes{
        grid-column: 3/5;
    }

    & .dwes_lunes{
        grid-column-start: 3;
    }

    & .eiem_lunes{
        grid-column-start: 3;
    }
    
    & .daw_lunes{
        grid-column-start: 3;
    }

    & .dos_filas_daw_miercoles{
        grid-column-start: 4;
    }

    & .dos_filas_dwec_miercoles{
        grid-column-start: 4;
    }

    & .dos_filas_diw_miercoles{
        grid-column-start: 4;
    }
}

    

