/*Jorge Muñoz García*/

@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("./images/body.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

header{
    background-image: url("./images/header-background.jpg");
    background-size: 100% 105%;

    & h1{
        padding-top: 20px;
        margin-bottom: 50px;
        text-align: center;
        font-size: 2.5em;
        font-family: "Protest Riot", sans-serif;
        color: white;
    }

    & p{
        text-align: center;
        font-size: 1.5em;
        padding-bottom: 20px;
        line-height: 35px;
        color: white;
    }
}

main{
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.76);
    
    & .contenedor-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
        gap: 30px;

        width: 87%;
        margin: 0 auto;
        padding-top: 30px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 20px;

        background-image: url("./images/body.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        
        & div{
            display: grid;
            height: 320px;
            border-radius: 15px;
            overflow: hidden;

            & p{
                background-color: rgba(255, 255, 255, 0.5);
                padding: 10px;
                height: 45px;
                font-weight: bold;
            }

            & .lugar{
                justify-content: start;
                font-size: 1.4em;
            }

            & .pais{
                align-self: end;
                text-align: right;
                font-size: 1.4em;
            }
        }

        /*Colocamos las imágenes a los div*/
        & .caja1{background-image: url("./images/f1.jpg"); background-size: 100% 100%;}

        & .caja2{background-image: url("./images/f2.jpg"); background-size: 100% 100%;}

        & .caja3{background-image: url("./images/f3.jpg"); background-size: 100% 100%;}

        & .caja4{background-image: url("./images/f4.jpg"); background-size: 100% 100%;}

        & .caja5{background-image: url("./images/f5.jpg"); background-size: 100% 100%;}

        & .caja6{background-image: url("./images/f6.jpg"); background-size: 100% 100%;}

        & .caja7{background-image: url("./images/f7.jpg"); background-size: 100% 100%;}

        & .caja8{background-image: url("./images/f8.jpg"); background-size: 100% 100%;}

        & .caja9{background-image: url("./images/f9.jpg"); background-size: 100% 100%;}

        & .caja10{background-image: url("./images/f10.jpg"); background-size: 100% 100%;}

        & .caja11{background-image: url("./images/f11.jpg"); background-size: 100% 100%;}

        & .caja12{background-image: url("./images/f12.jpg"); background-size: 100% 100%;}

        & .caja13{background-image: url("./images/f13.jpg"); background-size: 100% 100%;}

        & .caja14{background-image: url("./images/f14.jpg"); background-size: 100% 100%;}

        & .caja15{background-image: url("./images/f15.jpg"); background-size: 100% 100%;}

        & .caja16{background-image: url("./images/f16.jpg"); background-size: 100% 100%;}

        & .caja17{background-image: url("./images/f17.jpg"); background-size: 100% 100%;}

        & .caja18{background-image: url("./images/f18.jpg"); background-size: 100% 100%;}

        & .caja19{background-image: url("./images/f19.jpg"); background-size: 100% 100%;}

        & .caja20{background-image: url("./images/f20.jpg"); background-size: 100% 100%;}
    }
}

footer{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.6em;
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
}