*{
    box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,body{
	font-family:'Sono', sans-serif;
	background-color: burlywood;
}

.contenedor{
    position: relative;
    width: 80vw;
	height:96vh;
	background-color: darkorange; 
	border: 5px solid black;
	margin:2vh auto;
	padding: 20px;
	/*overflow: hidden;*/

    & h1{
        text-align:center;
        font-size:2.5em;
    }
}

.cajas{
    position: absolute;
    top: 20vh;
    left: 7vw;
}

.caja{
    float:left;
	margin:10px;
    margin-left: 10px;
	border: 5px solid black;
	padding:30px;

    & p{
        font-size: 2vw;
        text-align: center;
    }
}

.c1{
    position: relative;
    top: 50px;
    left: 100px;
	width: 21%;
	background-color:palevioletred;
}

.c2{
	width:21%;
	background-color:lightsalmon;
}

.c3{
	width: 21%;
	background-color:plum;	
}
.c4{
	width: 21%;
	background-color:lightgrey;	
}
.c5{
	width: 21%;
	background-color:pink;	
}
.c6{
	width: 21%;
	background-color:pink;	
}
.c7{
	width: 21%;
	background-color:pink;	
}