@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&family=Russo+One&family=Voces&display=swap');

body{
    background-image: url("./Images/tile.png"), linear-gradient(#b880de 0%, #381967 100%);
}

section{
    width: 75%;
    margin: 0 auto;
}

/*----CLASSES----*/
.first_section{
    & article{
        background-color: #dcdcdc;
        padding: 0.5vw;
        border-radius: 10px;

        /*TEXT OF FIRST SECTION*/
        & p{
            color: #9e2f98;
        }
        
        & h1{
            text-align: center;
            margin-top: 0vh;
            font-size: 8em;
            color: #8b008b;

            /*ADJUST THE PARAGRAPH BROTHER OF H1*/
            &+p{
                margin-top: -10vh;
            }
        }
    }
}

.second_section{
    margin-top: 1vh;

    border: 2px solid white;
    border-radius: 5px;

    & article{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 2vh;
        background-color: #b036c6;

        & h1{
            background-color: white;
            color: #942ea3;
            font-size: 2em;
        }

        & p{
            margin-left: 6.5vw;
            margin-right: 6.5vw;

            &::first-letter{
                font-size: 2em;
                color: #f660df;
            }
        }

        & iframe{
            width: 50vw; 
            height: 50vh;
        
            display: block;
            margin: 0 auto;
        
            border: 5px solid #f9c0cb;
            border-radius: 5px;
        }
    }
}

/*----TEXT----*/
h1{
    font-family: 'Russo One', sans-serif;
}

p{
    text-align: justify;

    padding-left: 1.5vw;
    padding-right: 1.5vw;

    font-size: 1.2em;
    color: white;
    font-family: 'Voces', sans-serif;
}

span{
    font-style: italic;
}

strong{
    font-family: 'Voces', sans-serif;
}

.another_strong{
    color: #71073d;
    transition: color 1s;

    &:hover{
        color: #daece4;
    }
}

/*----A----*/
a{
    &:hover{
        transition-duration: 3s;
        font-size: 115%;
        text-shadow: 0 0 7px black;
        font-family: 'JetBrains Mono', monospace;
    }
    &:link{
        color: #e65db8;
    }
    &:visited{
        color:black;
    }
}

/*----IMAGES----*/
img{
    border: 5px solid #942891;
    border-radius: 5px;

    display: block;
    margin: 0 auto;

    &[alt="first"]{
        width: 65%;
    }
    &[alt="second"]{
        width: 55%;
    }
}

/*----LISTS----*/
ul{
    width: 75%;
    margin: 0 auto;

    list-style: square;
    border: 8px solid #f468b4;
    background-color: #f7b0dc;

    transition: 1s;

    &:hover{
        background-color: #680e75;

        & li{
            color: #f7b0dc;
        }
    }

    & li{
        margin-top: 1.2svh;
        color: #a32594;
        font-family: 'JetBrains Mono', monospace;

        & strong{
            text-decoration: underline;
        }
    }
}

/*----FOOTER----*/
footer{
    display: block;
    text-align: center;
    height: 3.5vh;

    margin-top: 1vh;
    padding-top: 2vh;
    padding-left: 10vw;
    padding-right: 10vw;
    
    background-color: gray;
    border-top: 0.5vh solid white;
    border-bottom: 0.5vh solid white;
}