@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&family=Russo+One&family=Voces&display=swap');

/*A background image is applied to the body of the 
document and a linear gradient between two colors.*/
body{
    background-image: url("./Images/tile.png"), linear-gradient(#b880de 0%, #381967 100%);
}

section{
    width: 75%;
    margin: 0 auto;
}

/*Text settings: Font type, font size, styles and colors.*/
h1{
    font-family: 'Russo One', sans-serif;
}

p{
    text-align: justify;

    padding-left: 1.5vw;
    padding-right: 1.5vw;

    font-size: 1.2em;
    color: white;
    font-family: 'Voces', sans-serif;
}

span{
    font-style: italic;
}

strong{
    font-family: 'Voces', sans-serif;
}

                /*-*-*-*-*-*-CLASSES-*-*-*-*-*-*/

/*This class has been used for the first section of the document since 
it has a different font and background color, as well as a large title.*/
.first_section{
    & article{
        background-color: #dcdcdc;
        padding: 0.5vw;
        border-radius: 10px;

        & p{
            color: #9e2f98;
        }
        
        & h1{
            text-align: center;
            margin-top: 0vh;
            font-size: 8em;
            color: #8b008b;

            &+p{
                margin-top: -10vh;
            }
        }
    }
}

/*In the second section of the document, a container border has been positioned 
on which the rest of the elements will be centered. To modify the first letter 
of paragraphs, use the ::first-letter property.*/
.second_section{
    margin-top: 1vh;

    border: 2px solid white;
    border-radius: 5px;

    & article{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 2vh;
        background-color: #b036c6;

        & h1{
            background-color: white;
            color: #942ea3;
            font-size: 2em;
        }

        & p{
            margin-left: 6.5vw;
            margin-right: 6.5vw;

            &::first-letter{
                font-size: 2em;
                color: #f660df;
            }
        }

        & iframe{
            width: 50vw; 
            height: 50vh;
        
            display: block;
            margin: 0 auto;
        
            border: 5px solid #f9c0cb;
            border-radius: 5px;
        }
    }
}

/*Class for texts called Extreme Ironing. A different color 
and effect is applied when the pointer is positioned.*/
.another_strong{
    color: #71073d;
    transition: color 1s;

    &:hover{
        color: #daece4;
    }
}

/*Style for the links, it is given a default color for two of its 
states and a hover to increase the text size, give it a shadow 
and apply the font while the pointer is positioned over it.*/
a{
    &:hover{
        transition-duration: 3s;
        font-size: 115%;
        text-shadow: 0 0 7px black;
        font-family: 'JetBrains Mono', monospace;
    }
    &:link{
        color: #e65db8;
    }
    &:visited{
        color:black;
    }
}

/*For the images, a border, display block is used for positioning and
the reference through its alt attribute to give different styles to 
each specific image.*/
img{
    border: 5px solid #942891;
    border-radius: 5px;

    display: block;
    margin: 0 auto;

    &[alt="first"]{
        width: 65%;
    }
    &[alt="second"]{
        width: 55%;
    }
}

/*
For lists we use the list-style property to apply a different entry to each element. 
A hover is also used that will change the background color and in turn the color of 
the letters of the elements. Additionally, each element will have a different color 
and its 'title' will be underlined.*/
ul{
    width: 75%;
    margin: 0 auto;

    list-style: square;
    border: 8px solid #f468b4;
    background-color: #f7b0dc;

    transition: 1s;

    &:hover{
        background-color: #680e75;

        & li{
            color: #f7b0dc;
        }
    }

    & li{
        margin-top: 1.2svh;
        color: #a32594;
        font-family: 'JetBrains Mono', monospace;

        & strong{
            text-decoration: underline;
        }
    }
}

/*This footer contains a border at the top and bottom and a background color is applied.*/
footer{
    text-align: center;
    width: 74vw;
    height: 3.5vh;

    margin-top: 1vh;
    margin-left: 12vw;
    margin-right: 10vw;
    padding-top: 2vh;
    
    background-color: gray;
    border-top: 0.5vh solid white;
    border-bottom: 0.5vh solid white;
}