@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    height: 90vh;
    background: linear-gradient(darkorange 0%, darkred 100%);
}

/*Container alignment and sizing*/
section{
    align-items: center;
    text-align: center;
}

article{
    width: 20vw;
    height: 40vh;
    text-align: center;
    display: inline-block;
    border: 5px solid white;
    margin: 2vw;
    transition: background-color 2s;
}

article:hover{
    background-color:indigo;
}

/*Icons and icons hover*/
i{
    margin-top: 2vw;
    font-size: 130px;
    color: white;
    transition: transform 2.5s, color 2.5s;
}

i:hover{
    transform: scale(1.2);
    color: darkorange;
}

/*Text format and paragraph hover*/
h1{
    margin-top: 10svh;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 4em;
    color:darkred;
} 

h2{
    margin-top: 7vw;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
    color: darkorange;
}

div p{
    margin-top: 5vh;
    visibility: hidden;   
    transition: visibility 0.8s, transform 1s, filter 1s;
    transform:scale(0.50) rotate(45deg);
    font-family: 'Open Sans', sans-serif;
    color: white;
}

div:hover p{
    visibility: visible;
    transform: rotate(0deg);
}