.grid{
    display: grid;
    width: 80%;
    height: 250px;
    grid-template-columns: 100px 100px 200px;
    grid-template-rows: 200px 200px 100px;
    
    grid-template-areas: "areaA areaA ." 
        "areaB areaC areaC"
        "areaB . .";

    gap: 3px;

    place-items: center space-around;

    background-color: aquamarine;

    & div{
        border: 2px solid black;
        padding-top: 5%;
    }

    & .caja1{
        grid-area: areaA;
    }

    & .caja2{
        grid-area: areaB;
    }

    & .caja3{
        grid-area: areaC;
    }
}