/*Jorge Muñoz García*/

@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Merriweather&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("./images/backgroundImage2.png");
}

.main{
    width: 90%;
    background-color: rgba(124, 124, 124, 0.692);
    margin: 0 auto;
    padding-top: 1px;
    
    /*CLASSES*/
    & .header h1{
        font-size: 3vw;
    }

    & .subtitle1 h2{
        font-size: 2vw;
    }

    & .content1{
        & div{
            width: 25vw;
            height: auto;
            float: left;
            background-image: url("./images/backgroundBox2.png");
            margin: 15px;
            padding: 15px;
            border: 3px solid black;
            border-radius: 10px;
            text-align: justify;
        }

        & img{
            width: 45%;
            height: 50%;
            float: left;
            padding: 15px;
        }

        & p{
            font-family: 'Merriweather', serif;
        }

        & .box1{
            margin-left: 5vw;
        }
    
        & .box4{
            clear: both;
            margin-left: 13vw;
            margin-top: 10vh;
            margin-bottom: 3vh;
            width: 30vw;
        }
    
        & .box5{
            margin-top: 10vh;
            margin-bottom: 3vh;
            width: 30vw;
        }
    }

    & .subtitle2{
        clear: both;
        padding-top: 1vh;

        & h2{
            font-size: 2vw;
        }
    }

    & .content2{
        width: 95%;
        margin: 0 auto;
        margin-left: 3vw;

        & div{
            text-align: center;
            width: 18vw;
            float: left;
            padding: 5px;
            margin: 1vw;
            border: 3px solid black;
            border-radius: 5px;
            background-image: linear-gradient(to bottom, rgba(13, 31, 34,.7) 10%, rgba(163, 180, 162,.7) 20%);
        
            & img{
                width: 95%;
            }
    
            & p{
                padding-top: 1em;
                text-align: justify;
                font-family: 'Merriweather', serif;
            }
    
            & h3{
                color: rgb(142, 151, 137);
                font-size: 2vw;
                padding-top: 10px;
                padding-bottom: 20px;
                font-family: 'Lemon', serif;
            }

        }

        & .box6{
            margin-left: 3em;
        }
    }

    & .content3{
        clear: both;
        margin-left: 3.85vw;
    
        & div{
            width: 19vw;
            float: left;
            margin: 0.7vw;
            margin-top: 7vh;
            border: 4px solid black;
            background-color: rgba(13, 31, 34,.8);

            & .first{
                background-color: rgba(163, 180, 162) ;
                border-bottom: 5px solid black;
                width: auto;
                height: auto;
                margin: auto;
                
                & img{
                    width: 23%;
                    float: right;
                    display: block;
                    margin: 1.2rem;
                }

                & h4{
                    color: black;
                    float: left;
                    font-size: 2vw;
                    width: 60%;
                    text-align: center;
                    font-weight: bold;
                    padding: 5px;
                    font-family: 'Lemon', serif;
                }
            }

            & p{
                color: rgba(163, 180, 162);
                clear: both;
                padding-top: 5em;
                text-align: justify;
                line-height: 1.5em;
                padding: 10px;
                font-family: 'Merriweather', serif;
            }
        }
    }

    & .footer{
        width: 100%;
        text-align: center;
        clear: both;
        padding: 1em;
        font-size: 1.2em;
        font-weight:bold;
        font-family: 'Lemon', serif;
        margin-top: 7vh;
    
        & a{
            color: #8B0000;
        }
    }    

    & h1{
        background-color: rgba(98, 88, 170);
        width: 90%;
        margin: 2em auto;
        border: 5px solid black;
        text-align: center;
        padding: 10px;
        font-size: 3em;
        font-weight: bold;
        font-family: 'Lemon', serif;
    }

    & h2{
        background-color:rgb(230, 228, 229) ;
        width: 95%;
        margin: 2em auto;
        padding: 10px;
        border: 2px solid black;
        font-size: 2em;
        font-family: 'Lemon', serif;
    }

    & em{
        color: #c20202;
        font-weight: bold;
        font-size: 1em;
        font-family: 'Lemon', serif;
    }
}