/*Jorge Muñoz García*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: honeydew;
}

.panel{
    background-color: grey;
    width: 85vw;
    height: auto;
    margin-top: 5vh;
    margin-left: 6vw;
    margin-right: 6vw;
    border-radius: 5px;
    border: 7px solid darkslategray;
    border-radius: 20px;
    font-family: 'Archivo Narrow', sans-serif;

    & h1{
        color: white;
        text-align: center;
        padding-top: 3vh;
        font-size: 3.5vw;
    }
    
    & hr{
        width: 47vw;
        height: 7px;
        background-color: white;
        color: white;
        margin-top: 1.5vh;
        margin-left: 18vw;
    }
    
    & .dice_container{
        margin-top: 8vh;
        margin-bottom: 4vh;
        display: flex;
        justify-content: space-evenly;
        flex-grow: 0;
        flex-wrap: wrap;

        & .dice{
            display: flex;
            flex-wrap: wrap;
            border-radius: 20px;
            width: 200px;
            height: 195px;
            background-color: black;
            border: 3px solid white;
        }
    
        & .die1{
            margin-left: 20px;
            background-color: maroon;
            display: flex;
            justify-content: center;
            align-items: center;

            & .point{
                display: block;
                width: 30px;
                height: 30px;
                background-color: whitesmoke;
                border-radius: 50%;
                margin: 10px;
            }
        }
    
        & .die2{
            margin-left: 20px;
            background-color: chocolate;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;

            & .point{
                display: block;
                width: 30px;
                height: 30px;
                background-color: whitesmoke;
                border-radius: 50%;
                margin: 10px;
            }

            & .point2{
                align-self: flex-start;
            }
        }
    
        & .die3{
            margin-left: 20px;
            background-color: darkorange;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;

            & .point{
                display: block;
                width: 30px;
                height: 30px;
                background-color: whitesmoke;
                border-radius: 50%;
                margin: 10px;
            }
    
            & .point2{
                align-self: center;
            }
    
            & .point3{
                align-self: flex-start;
            }
        }
    
        & .die4{
            margin-left: 20px;
            background-color: darkgreen;
            display: flex;
            justify-content: space-between;

            & .point{
                display: block;
                width: 30px;
                height: 30px;
                background-color: whitesmoke;
                border-radius: 50%;
                margin: 10px;
            }

            & .points{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    
        & .die5{
            margin-left: 20px;
            background-color: navy;
            display: flex;
            justify-content: space-between;

            & .point{
                display: block;
                width: 30px;
                height: 30px;
                background-color: whitesmoke;
                border-radius: 50%;
                margin: 10px;
            }

            & .point3{
                align-self: center;
            }

            & .points{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    
        & .die6{
            margin-left: 20px;
            background-color: indigo;
            display: flex;
            justify-content: space-between;

            & .point{
                display: block;
                width: 30px;
                height: 30px;
                background-color: whitesmoke;
                border-radius: 50%;
                margin: 10px;
            }

            & .points{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
}
