/*Jorge Muñoz García*/

/*
Fuentes: 
- Título y enlaces: Fahkwang
- Textos: Syne

Colores: 
- Principal: #dba018
- Secundarios:  #67135e, #da627d
- Fondo: #222222
*/

@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Protest+Riot&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-principal: #dba018;
    --color-secundario1:  #67135e;
    --color-secundario2:  #da627d;
    --color-fondo: #222222;
}

body{
    background-color: var(--color-fondo);
}

header{
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    
    & a{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        text-decoration: none;
        
        & img{
            width: 20%;
        }

        & h1{
            font-size: 2.2em;
            font-family: "Protest Riot", sans-serif;
            color: var(--color-principal);
        }
    }
}

main{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 85%;
    margin: 0 auto;
    
    & div{
        display: grid;
        overflow: hidden;

        & a{
            
        }
    }

    & div:not(.informacion):hover{
        & a{
            opacity: 0;
        }
    }

    & .informacion{
        & h1{
            padding-top: 35px;
            padding-left: 10%;
            font-size: 2.3em;
            color: var(--color-secundario1);
        }

        & p{
            text-align: justify;
            font-size: 1.5em;
            padding-top: 15px;
            padding-left: 10%;
            padding-right: 10%;
            color: var(--color-secundario1);
        }

        & ul{
            & li{
                color: var(--color-secundario1);
                font-weight: bold;
            }
        }

        & a{
            width: 80%;
            height: 40px;
            padding-top: 0.5vh;
            margin: 0 auto;
            margin-bottom: 50px;
            text-decoration: none;
            font-size: 1.3em;
            text-align: center;
            border: 3px solid var(--color-secundario2);
            background-color: var(--color-secundario1);
            color: var(--color-principal);
        }

        & a:hover{
            background-color: var(--color-secundario2);
            color: var(--color-principal);
        }
    }

    /*Cajas de información*/
    & .caja1{
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        background-color: var(--color-principal);
    }

    & .caja8{
        grid-column: 5 / span 2;
        grid-row: 3 / span 2;
        background-color: var(--color-principal);
    }

    & .caja9{
        grid-column: 1 / span 2;
        grid-row: 5 / span 2;
        background-color: var(--color-principal);
    }

    /*Colocamos las imágenes a los div*/
    & .caja2{
        grid-column: 3 / span 3;
        grid-row: 1 / span 2;
        background-image: url("./images/f1.jpg"); 
        background-size: 100% 100%;
    }

    & .caja3{
        grid-column-start: 6;
        grid-row: 1 / 2;
        background-image: url("./images/f2.jpg"); 
        background-size: 100% 100%;
    }

    & .caja4{
        grid-column-start: 6;
        grid-row: 2 / 3;
        background-image: url("./images/f3.jpg"); 
        background-size: 100% 100%;
    }

    & .caja5{
        grid-column-start: 1;
        grid-row: 3 / span 2;
        background-image: url("./images/f4.jpg"); 
        background-size: 100% 100%;
    }

    & .caja6{
        grid-column-start: 2;
        grid-row: 3 / span 2;
        background-image: url("./images/f5.jpg"); 
        background-size: 100% 100%;
    }

    & .caja7{
        grid-column: 3 / span 2;
        grid-row: 3 / span 2;
        background-image: url("./images/f6.jpg"); 
        background-size: 100% 100%;
    }

    & .caja10{
        grid-column: 3/4;
        grid-row: 5 / span 2;
        background-image: url("./images/f7.jpg"); 
        background-size: 100% 100%;
    }

    & .caja11{
        grid-column: 4/5;
        grid-row: 5 / span 2;
        background-image: url("./images/f8.jpg"); 
        background-size: 100% 100%;
    }

    & .caja12{
        grid-column: 5/6;
        grid-row: 5/6;
        background-image: url("./images/f9.jpg"); 
        background-size: 100% 100%;
    }

    & .caja13{
        grid-column: 6/7;
        grid-row: 5/6;
        background-image: url("./images/f10.jpg"); 
        background-size: 100% 100%;
    }

    & .caja14{
        grid-column: 5 / span 2;
        grid-row: 6/7;
        background-image: url("./images/f11.jpg"); 
        background-size: 100% 100%;
    }
}


footer{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.6em;
    color: white;
}