/*Jorge Muñoz García*/

@font-face{
    font-family: "Pokemon_solid";
    src: url("./fonts/Pokemon\ Solid.ttf") format('truetype');
}

@font-face{
    font-family: "Pokemon_classic";
    src: url("./fonts/Pokemon\ Classic.ttf") format('truetype');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("./images/nebula.png");
    background-size: 100% 100% cover;
}

header{
    font-family: "Pokemon_solid";
    letter-spacing: 6px;
    line-height: 60px;
    transform: translateY(10px);

    & h1{
        text-align: center;
        color: white;
        font-size: 2.5em;
    }

    & p{
        text-align: center;
        color: white;
        font-size: 1.8em;
    }
}

main{
    width: 80%;
    height: 135vh;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;

    /*Checkboxs para comprobar el estado y girar el div.*/
    & div{
        transition: 1s;

        & input{
            display: none;
        }

        & input:checked + label{
            & .front{
                transform: rotateY(180deg);
            }

            & .back{
                transform: rotateY(0deg);
            }
        }

        & label{ 
            & .front{
                transform: rotateY(0deg);
            }
            
            & .back{
                transform: rotateY(180deg);
            }
        }
    }
    
    /*Estilos partes frontales y traseras de las cajas*/
    & div label .front{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        background-size:  100% 100%;
        border: 3px solid black;
        border-radius: 10px;
        transform: rotateY(0deg);
        transition: 1s; 
        font-family: "Pokemon_solid";

        & img{
            width: 100%;
            height: 100%;
        }

        & p{
            position: fixed;
            width: 100%;
            bottom: 0;
            text-align: center;
            font-size: 100%;
            background: linear-gradient(to bottom, #3498db, #ff66a3, #8e44ad);
            color: white;
            opacity: 0;
            transition: 1s;
        }
    }

    & div label .back{
        display: grid;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        background-image: url("./images/pokeball.png");
        background-size: 100% 100%;
        border: 3px solid black;
        border-radius: 10px;
        transform: rotateY(180deg);
        transition: 1s;
        align-items: center;
        font-weight: bold;
        font-family: "Pokemon_classic";

        & p{
            margin: 0 auto;
            margin-left: 3%;
            margin-right: 3%;
            padding: 10px;
            font-size: 0.85em;
            text-align: center;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.644);
        }
    }

    & div:hover .front{
        & p{
            opacity: 1;
        }
    }


    /*Estilos grid para el posicionamiento de las cajas*/
    & .caja1{
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        position: relative;

        & label{ 
            & .front{
                background: radial-gradient(circle, #8336b5, #54134e);
            }
        }
    }

    & .caja2{
        grid-column-start: 3;
        grid-row-start: 1;
        position: relative;
    
        & label{ 
            & .front{
                background: radial-gradient(circle, #689a9e, #073991);
            }
        }
    }

    & .caja3{
        grid-column: 4 / span 2;
        grid-row-start: 1;
        position: relative;
    
        & label{ 
            & .back{
                background-image: url("./images/pokeball2.png");
            }
        }
    }

    & .caja4{
        grid-column: 3 / span 2;
        grid-row: 2 / span 2;
        position: relative;
    
        & label{ 
            & .front{
                background: radial-gradient(circle, #8336b5, #54134e);
            }
        }
    }

    & .caja5{
        grid-column-start: 5;
        grid-row-start: 2;
        position: relative;

        & label{ 
            & .front{
                background: radial-gradient(circle, #689a9e, #073991);
            }
        }
    }

    & .caja6{
        grid-column-start: 6;
        grid-row-start: 2;
        position: relative;
    
        & label{ 
            & .front{
                background: radial-gradient(circle, #689a9e, #073991);
            }
        }
    }

    & .caja7{
        grid-column-start: 5;
        grid-row-start: 3;
        position: relative;

        & label{ 
            & .front{
                background: radial-gradient(circle, #689a9e, #073991);
            }
        }
    }

    & .caja8{
        grid-column-start: 3;
        grid-row-start: 4;
        position: relative;

        & label{ 
            & .front{
                background: radial-gradient(circle, #689a9e, #073991);
            }
        }
    }

    & .caja9{
        grid-column: 4 / span 2;
        grid-row: 4 / span 2;
        position: relative;

        & label{ 
            & .front{
                background: radial-gradient(circle, #8336b5, #54134e);
            }
        }
    }

    & .caja10{
        grid-column-start: 6;
        grid-row-start: 4;
        position: relative;
    
        & label{ 
            & .front{
                background: radial-gradient(circle, #689a9e, #073991);
            }
        }
    }

    & .caja11{
        grid-column-start: 1;
        grid-row-start: 5;
        position: relative;
    
        & label{ 
            & .front{
                background: radial-gradient(circle, #689a9e, #073991);
            }
        }
    }

    & .caja12{
        grid-column: 2 / span 2;
        grid-row-start: 5;
        position: relative;
    
        & label{ 
            & .back{
                background-image: url("./images/pokeball2.png");
            }
        }
    }

}