/*Jorge Muñoz García*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("./images/background.svg");
    background-color: yellowgreen;
}

section{
        width: 95vw;
        margin: 0 auto;
        background-color: rgba(29, 8, 49, 0.623);

    & .contenedor{
        color: white;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;

        & h1{
            font-size: 2em;
            padding-top: 2vh;
            margin-left: 25vw;
            margin-right: 25vw;
        }

        & .cajas{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            justify-items: center;
            width: 95vw;

            & .parejas{
                display: flex;
                flex-wrap: wrap;
            }
            
            & .caja{
                position: relative;
                width: 28vw;
                height: 60vh;
                margin: 10px;
                margin-top: 5vh;
                border-radius: 10px;
                min-width: 30%;
                transition: all .0.3s ease;
                min-width: 350px;
    
                & .contenido{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    margin: 5px;
                }
    
                & img{
                    width: 12vw;
                    margin: auto auto;
                    margin-top: 30px;
                    border: 3px solid black;
                    border-radius: 50%;
                }
    
                /*Name*/
                & h2{
                    font-size: 50px;
                    padding-top: 10px;
                    font-size: 2vw;
                }

                /*Job*/
                & h3{
                    font-size: 30px;
                    font-weight: 100;
                    padding-top: 20px;
                }

                /*Languages*/
                & p{
                    text-align: justify;
                    font-size: 18px;
                    padding-top: 30px;
                    padding-left: 70px;
                    padding-right: 70px;
                }

                /*Contact*/
                & .contact{
                    & .socialmedia{
                        visibility: hidden;
                    }
                }
            }

            & .caja:hover{
                border: 5px solid white;

                & h2{
                    margin-right: 40px;
                    margin-left: 40px;
                    border-bottom: 3px solid white;
                    transition: 1s;
                }

                & .socialmedia{
                    visibility: visible;

                    & i{
                        margin-top: 30px;
                        font-size: 35px;
                        transition: 1s;
                    }

                    & i:hover{
                        color: greenyellow;
                        cursor: pointer;
                    }
                }

            }

            & .caja1, .caja2{
                background-color: rgba(114, 44, 180, 0.623);
            }

            & .caja3{
                background-color: rgba(214, 51, 51, 0.623);
                width: 20vw;
                min-width: 450px;
                
                & img{
                    margin: auto auto;
                    margin-top: 30px;
                }           

                & h2{
                    padding-top: 15px;
                }
            }
    
            & .caja4{
                background-color: rgba(44, 64, 180, 0.623);   
                width: 20vw;
                min-width: 450px;
                
                & img{
                    margin: auto auto;
                    margin-top: 30px;
                }           

                & h2{
                    padding-top: 15px;
                }
            }

            & .caja5, .caja6{
                background-color: rgba(214, 203, 40, 0.623);
            }
        }
    }
}