/*Jorge Muñoz García*/

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}

:root{
    --herocolor:#cb1da0;
    --fondolanding: #120f0fa3;
    --textcolor: #d1d1d1;
    --fondopoema: #1c262b;
    --fondocruz: #f0f0f055;

}

body{
    height: 100vh;
    background-image: url('./images/road.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

main{
    /*Hamburguer menu*/
    & .burguer_icon{
        margin-top: 5vh;
        margin-left: 94%;
        display: block;
        cursor: pointer;  
        position: absolute;
        z-index: 5;
    }

    /*Panel de la landing page*/
    & .panel{
        position: absolute;
        margin-top: 14vh;
        margin-left: 19vw;
        height: 70vh;
        background-color: var(--fondolanding);
        border: 5px solid var(--herocolor);
        border-radius: 15px;
        padding: 50px;
        padding-left: 150px;
        padding-right: 150px;

        & h1{
            font-family: 'Lexend Mega', sans-serif;
            font-weight: normal;
            font-size: 3.5vw;
            text-align: center;
            padding-bottom: 10px;
            border-bottom: 5px solid var(--herocolor);
            color: var(--herocolor);
        }
    
        & p{
            position: absolute;
            font-family: 'Habibi', serif;
            font-size: 1.4em;   
            color: var(--herocolor);
            top: 26vh;
            left: 12vw;
            right: 12vw;
            bottom: 60px;
            text-align: center;
        }
    }

    & .left_panel{
        width: 40%;
        height: 100vh;
        background-color: var(--fondopoema);
        position: relative;
        transition: 1s;
        
        & p{
            font-family: 'Habibi', serif;
            font-weight: normal;
            font-size: 1.3em;
            text-align: center;
            color: var(--textcolor);
            padding-top: 12vh;
            padding-bottom: 12vh;
        }
    }

    & .right_panel{
        width: 60%;
        height: 100vh;
        background-image: url('./images/background.jpg');    
        position: relative;
        bottom: 100vh;
        transition: 1s;

        & .right_names{
            padding-top: 10vh;

            & h2, h3{
                text-decoration: none;
                font-family: 'Lexend Mega', sans-serif;
                font-size: 3rem;
                font-weight: 200;
                text-align: center;
                line-height: 5rem;
                color: var(--textcolor);
                font-weight: 700;    
            }

            & h3{
                font-size: 2rem;
            }
        }

        & .right_elements{
            margin-top: 5vh;
            
            & li{
                list-style: none;
                text-align: center;
                margin-top: 1vh;

                & a{
                    text-decoration: none;
                    font-family: 'Lexend Mega', sans-serif;
                    font-size: 3rem;
                    font-weight: 200;
                    text-align: center;
                    line-height: 5rem;
                    color: var(--textcolor);
                }

                & a:hover{
                    border: 5px solid white;
                    background-color: #1c262bde;
                }
            }
        }
    }
}

/*Panels*/
.right_off{
    margin-left: 100%;
}

.right_on{
    margin-left: 40%;
}

.left_off{
    right: 40%;
}

.left_on{
    right: 0%;
}

/*Button*/
.bars_icon{
    & span{ 
        display: block;
        width: 40px;
        height: 5px;
        margin-bottom: 8px;
        background: var(--herocolor);
        border-radius: 3px; 
        transition: 1s;
    }
}

.cross_icon{
    background-color: rgba(168, 168, 168, 0.164);
    border-radius: 50%;
    border: 2px solid white;
    transition: 1s;

    & span{ 
        display: block;
        width: 40px;
        height: 5px;
        margin-bottom: 8px;
        background: var(--herocolor);
        border-radius: 3px; 
        transform: translateX(20px);
        transition: 1s;
    }

    & .bar1{
        transform: rotate(-230deg) translateY(-26px) translateX(-20px);
        background-color: white;
        transform-origin: left;
    }

    & .bar2{
        margin-left: -35px;
        transition: 1s;
        opacity: 0;
    }

    & .bar3{
        transform: rotate(230deg) translateY(-10px) translateX(40px);
        background-color: white;
        transform-origin: right;
    }
}