/*Jorge Muñoz García*/

@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200&family=Suez+One&display=swap');

*{
    /*background-image: url(./images/background.jpg);*/
    /*background-color: #dc143c;*/
    color:  #2e0404;

    /*Titulo*/
    font-family: 'Suez One', serif;
    /*Menu y parrafos*/
    font-family: 'KoHo', sans-serif;
}