/*Jorge Muñoz García*/

@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200&family=Suez+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./images/background.jpg);
}

nav{
    height: 8vh;
    font-family: 'KoHo', sans-serif;
    background-color: #dc143c;

    & li{
        background-color: #dc143c;
        float: left;
        list-style: none;
        position: relative;

        /*The submenu is hidden, then shows it outside*/
        & > ul{
            display: none;
            position: absolute; 
            z-index: 1;
        }

        /*Move the insides submenu to right*/
        & ul li > ul{
            top: 0;
            left: 14vw;
        }

        & ul a{
            text-align: left;
            font-size: 1.5em;
            font-weight: bold;
            padding: 20px;
        }

        /*Show submenus*/
        &:hover > ul{
            display: block;
        }
    }

    & a{
        display: block;
        width: 14vw;
        height: 8vh;
        color: white;
        font-size: 2em;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        padding-top: 10px;
        transition: background-color 2s;
        
        &:hover{
            background-color:  #2e0404;
        }
    }
}

section{ 
    margin-top: 30vh;
    
    & h1{
        font-family: 'Suez One', serif;
        text-align: center;
        font-size: 4.5em;
        color: white;
    }

    & p{
        font-family: 'KoHo', sans-serif;
        text-align: center;
        font-size: 2.44em;
        width: 80%;
        margin-left: 10%;
        margin-top: 10vh;
        color: white;
    }
}