label :checked{
    color: greenyellow;
    text-decoration: underline;
    box-shadow: 10px 10px greenyellow;
}

input:focus{
    background-color: rgb(114, 151, 39);
    border-color: black;
}

input:required{
    border-color: yellowgreen;
}

input[type="number"]:in-range{
    background-color: aqua;
}

input[type="number"]:out-of-range{
    background-color: red;
}

input[type="number"]:valid{
    border-color: aqua;
}

input[type="number"]:invalid{
    border-color: red;
}

input:read-only{
    color: aliceblue;
    background-color: black;
}

/*
/*Seleccionar label con hermano directo input required.
label:has(+ input:required)::before{
    content: "* ";
    color: goldenrod;
}
*/

label:has(+ input:required){
    &::before{
        content: "* ";
        color: goldenrod;
    }
    
    
}

label:has(input[type="radio"]:default){
    color: greenyellow;
    box-shadow: 10px 10px greenyellow;
}

p:nth-child(2)::first-letter{
    font-size: 36pt;
    color: rebeccapurple;
}
/*label:focus-within{
    background-color: firebrick;
}*/

