@import url('https://fonts.googleapis.com/css2?family=Mansalva&family=Salsa&display=swap');

html{
    margin: 0;
    height: 100vh;
}

/*Se asigna un fondo al cuerpo del documento HTML y se indica que ocupe su total con cover.*/
body{
    background-image: url(./Images/water.jpg);
    background-size: cover;
}

/*Con la propiedad anidada se aplica estilo al icono dentro del h1.*/
h1{
    text-align: center;
    font-size: 2.5em;
    color: white;
    font-family: 'Salsa', cursive;

    & i{
        animation: sombrilla 10s linear 0s infinite alternate none;
    }
}

@keyframes sombrilla{
    20%{
        text-shadow: 3px 3px 3px 3px white -3px -3px 3px, red 3px -3px -3px, red 3px -3px 3px, red -3px 3px 3px;
    }
    40%{
        text-shadow: 3px 3px 3px 3px white -3px -3px 3px, red 3px -3px -3px, red 3px -3px 3px, red -3px 3px 3px;

    }
    60%{
        text-shadow: 3px 3px 3px 3px white -3px -3px 3px, red 3px -3px -3px, red 3px -3px 3px, red -3px 3px 3px;

    }
    80%{
        text-shadow: 3px 3px 3px 3px white -3px -3px 3px, red 3px -3px -3px, red 3px -3px 3px, red -3px 3px 3px;

    }
    100%{
        text-shadow: 3px 3px 3px 3px white -3px -3px 3px, red 3px -3px -3px, red 3px -3px 3px, red -3px 3px 3px;

    }
}

/*Se asignan atributos comunes a los párrafos y con las propiedades anidadas a los párrafos
pertenecientes a clases por separados.*/
p{
    color: white;
    font-family: 'Salsa', cursive;
    text-align: justify;

    &.first_paragraph{
        text-align: center;
        font-size: 1.3em;
    }

    &.second_paragraph{
        margin-left: 1vw;
        margin-right: 1vw;
        font-size: 1.1em;
    }
}

/*En este div tenemos las etiquetas a con enlaces externos y en ellas las imágenes.
Con la primera anidación nos referimos a las imágenes dentro de a y con el segundo
al hover de dichas imágenes. 
Para su figura se usa clip-path y para el hover transform rotateZ y scale para rotar.*/
div{
    margin: 0 auto;
    margin-left: 8.5vw;
    margin-right: 5vw;

    & a section{
        width: 20vw;
        height: 35vh;

        border-radius: 7px;
        display: inline-block;

        clip-path: ellipse(200px 220px at 10px 10px);
        
        &.firstImage{
            background-image: url("./Images/i1.jpg");
            background-size: 20vw 35vh;
            transition: all 1s ease-in-out;

            & h3{
                width: 33%;
                margin-left: 5vw;
            }
        }

        &.secondImage{
            background-image: url("./Images/i2.jpg");
            background-size: 20vw 35vh;
            transition: all 1s ease-in-out;

            & h3{
                width: 33%;
                margin-left: 5vw;
            }
        }

        &.thirdImage{
            background-image: url("./Images/i3.jpg");
            background-size: 20vw 35vh;
            transition: all 1s ease-in-out;

            & h3{
                width: 55%;
                margin-left: 3vw;
            }
        }

        &.fourthImage{
            background-image: url("./Images/i4.jpg");
            background-size: 20vw 35vh;
            transition: all 1s ease-in-out;

            & h3{
                width: 55%;
                margin-left: 3vw;
            }
        }

        & h3{
            border-radius: 4px;
            backdrop-filter: invert(80%);
            color: white;
        }

        &:hover{
            transition: all;
            transition-duration: 1s;
            transform: rotateZ(50deg) scale(0.8);
            filter: hue-rotate(70deg);

            & h3{
                transform: rotateZ(-45deg) translateX(-3vw);
            }
        }
    }
}

/*Se le aplica un tamaño y color distinto al pie de página y se le 
aplica una transformación del tamaño.*/
footer p{
    font-size: 2em;
    text-align: center;
    color: aquamarine;
    font-family: 'Mansalva', sans-serif;
    
    animation: footerText 10s linear 0s infinite alternate none;

}

@keyframes footerText{
    0%{

    }
    100%{
        transform: scale(0.5);
    }
}