/*Jorge Muñoz García*/

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Josefin+Sans:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue;
}

h2, .titulo_seccion{
    font-family: 'Josefin Sans', sans-serif;
}


p, a{
    font-family: 'Dosis', sans-serif;
}

.fijo{
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: burlywood;

    & p{
        margin-top: 5px;
        text-align: center;
        font-size: 20px;
    }

    & .social_media{
        text-align: center;

        & i{
            font-size: 30px;
            margin-bottom: 8px;
            border-radius: 150%;
            transition: 1s;
        }

        & i:hover{
            color: #ffcc00;
            box-shadow: 0 0 10px #ffcc00;
        }
    }
}

.header{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;

    & img{
        float: left;
        width: 10%;
        margin-top: 7vh;
        margin-left: 1vw;
    }

    & h2{
        float: inline-start;
        font-size: 2.7vw;
        padding-top: 5vh;
        padding-left: 20vw;
    }
}

nav{
    width: 100%;

    & ul{
        display: flex;
        justify-content: space-around;
        margin-top: 1vh;
        flex-direction: row;
        list-style: none;

        & a{
            width: 100%;
            height: 5.3vh;
            padding-top: 1vh;
            margin: 2px;
            font-size: 1.6vw;
            font-weight: bold;
            text-align: center;
            cursor: pointer;
            border: 2px solid black;
            background-color: brown;
            color: white;
            text-decoration: none;
            font-family: 'Josefin Sans', sans-serif;
            transition: 1s;
        }

        & a:hover{
            font-size: 1.8vw;
            background-color: white;
            color: brown;
        }
    }

    @media screen and (max-width: 1000px) {
        & ul {
            flex-direction: column;
        }
    }
}

main{
    display: flex;
    width: 100%;
    overflow-x: hidden;

    & .seccion_izquierda{
        display: flex;
        flex-direction: column;
        width: 200vw;
        margin-top: 1vh;

        & .titulo_seccion{
            font-size: 1.4vw;
            padding-top: 1vh;
            margin-left: 1vw;
            padding-bottom: 1vh;
            font-weight: bold;
            color: brown;
        }

        & div{
            width: 17.5vw;
            margin: 10px;
            border: 2px solid black;
            border-radius: 5px;
            box-shadow: 5px 5px 5px black;
            
            & p{
                text-align: justify;
                font-size: 1.1vw;
                font-weight: bold;
                padding: 15px;
                color: black;

            }

            & .titulo{
                width: 95%;
                margin-top: 1vh;
                margin-left: 0.4vw;
                margin-right: 0.4vw;
                background-color: #FB9900;
                font-size: 1.3vw;
                border-radius: 5px;
                text-align: center;
                color: white;
            }
        }

        & .izquierda{
            margin-left: 1vw;
            background-color: #FFD2AD;
        }

        & .derecha{
            align-self: flex-end;
            margin-left: 7vw;
            background-color: #FFC078;
        }
    }

    & .seccion_central{
        display: flex;
        flex-direction: column;
        margin-top: 1vh;

        & .titulo_seccion{
            font-size: 1.4vw;
            padding-top: 1vh;
            padding-left: 1.8vh;
            padding-bottom: 0.5vh;
            font-weight: bold;
            color: brown;
        }

        & div{
            width: 39vw;
            margin: 10px;
            border: 3px solid black;
            border-radius: 5px;
            margin-left: 1vw;
            background-image: linear-gradient(to bottom, #FB9900, #ffffff);        

            & img{
                float: left;
                width: 7vw;
                margin: 10px;
            }

            & p{
                font-size: 1.3vw;
                word-spacing: 5px;
                line-height: 35px;
                text-align: justify;
                padding-top: 1.5vh;
                padding-left: 0.8vw;
                padding-right: 0.8vw;
                padding-bottom: 1.5vh;

                & strong{
                    color: brown;
                }
            }
        }
    }

    & .seccion_derecha{
        margin-top: 1vh;

        & .titulo_seccion{
            font-size: 1.4vw;
            padding-top: 1vh;
            padding-left: 1.2vh;
            padding-bottom: 0.7vh;
            font-weight: bold;
            color: brown;
        }

        & div{
            width: 100vw;
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            margin-top: 0.4vh;
            margin-bottom: 1vh;
            
            & div{
                display: flex;
                width: 14.5vw;
                height: auto;
                margin-left: 10px;
                border: 3px solid black;
                border-radius: 5px;
                transition: 1s;

                & img{
                    width: 100%;
                }

                & p{
                    font-size: 1vw;
                    text-align: justify;
                    margin-top: 10px;
                    margin-left: 15px;
                    margin-right: 15px;
                }

                & .title{
                    font-size: 1.3vw;
                    margin-left: auto;
                    margin-right: auto;
                    color: brown;
                }

                & a{
                    width: 350px;
                    height: 35px;
                    padding: 5px;
                    margin-top: 0.5vh;
                    margin-left: 0.4vw;
                    margin-right: 0.4vw;
                    margin-bottom: 1.2vh;
                    text-align: center;
                    color: white;
                    background-color: brown;
                    border: 2px solid brown;
                    border-radius: 2px;
                    text-decoration: none;
                    transition: 0.5s;
                }

                & a:hover{
                    color: white;
                    background-color: brown;
                }
            }

            & div:hover{
                transform: scale(1.02);
                filter: grayscale(10);
            }
        }
    }
}

footer{
    width: 100%;
    height: 6vh;
    background-color: burlywood;
    margin-top: 2vh;

    & p{
        padding-top: 1.5vh;
        font-size: 1.5em;
        text-align: center;
    }
}