/*Con margin y padding a 0 evitamos que haya espacios entre las imágenes y 
los bordes del navegador o del sitio web.*/
body{
    margin: 0;
    padding: 0;
}

/*Con scroll-snap-type indicamos que se moverá en el eje vertical 'y'.
Además de mandatory que ajusta automáticamente la posición de la pantalla.
Con overflow-y indicamos el tipo, que será scroll.*/
section{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

/*Le damos a las imágenes todo el ancho y todo el alto del navegador.*/
img{
    width: 100vw;
    height: 100vh; 
}

/*Cuando detecte la parte superior de un div se posicionará sobre él.*/
div{
    scroll-snap-align: start;
}

#firstImage{
    & p, & h1{
        text-align: center;
        justify-content: center;
    }
}

div:nth-child(odd) {
    text-align: right;

    & p, & h1{
        text-align: right;
    } 
}

/*Ajustamos los textos.*/
div h1{
    margin-bottom: 5px;
    font-weight: bold;
}

div p{
    margin-top: 0;
    font-weight: bold;
}



