/*Con margin y padding a 0 evitamos que haya espacios entre las imágenes y 
los bordes del navegador o del sitio web.*/
body, html{
    margin: 0;
    padding: 0;
}

/*Con scroll-snap-type indicamos que se moverá en el eje vertical 'y'.
Además de mandatory que ajusta automáticamente la posición de la pantalla.
Con overflow-y indicamos el tipo, que será scroll.*/
section{
    height: 100vh;
    width: 100vw;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

/*Cuando detecte la parte superior de un div/imagen se posicionará sobre él.*/
div{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    scroll-snap-align: start;
    width: 100vw;
    height: 100vh;
}

/*Usamos un id para que si es la primera imagen, posicionar el texto en el centro
superior.*/
#firstImage{
    & p, & h1{
        text-align: center;
        justify-content: center;
    }
}

/*Si el div es impar se alinea el texto a la derecha. En caso contrario aparece en
la izquierda por defecto.*/
div:nth-child(odd) {
    text-align: right;

    & p, & h1{
        text-align: right;
        transform: translateX(-30px);
    } 
    
    
}

/*Ajustamos los textos.*/
div h1{
    position: relative;
    top: 10px;
    left: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 40px;
    color: azure;
}

div p{
    position: relative;
    left: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 25px;
    color: azure;
}



