/*Jorge Muñoz García*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url();
}

main{
    width: 55vw;
    background-color: #e5e5e5;
    margin: 15vh auto;
    border: 5px solid #6d3764;
    border-radius: 7px;

    & h1{
        margin-top: 20px;
        font-size: 4.4em;
        text-align: center;
        color: #6d3764;
    }

    & .semanal{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        width: 95%;
        margin: 20px auto;
        border: 1px #6d3764;
        border-radius: 10px;
        box-shadow: 2px 2px 4px black;

        & div{
            font-size: 3.3em;
            text-align: center;
            color: white;
            background-color: #6d3764;
        }
    }

    & .mensual{
        & .sabado_domingo{
            background-color: #e7ae9c;
        }
        
        & .santa_blanca{
            background-color: #788bff;
        }
    }
}