/*Jorge Muñoz García*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header{
    position: fixed;
    z-index: 2;
    width: 68vw;
    margin-top: 3vh;
    margin-left: 14.5vw;

    & h1{
        background-color: #003D6A;
        color: #DFEEF5;
        font-size: 2em;
        text-align: center;
        border: 5px solid #D2BFE6;
        padding-top: 20px;
        padding-bottom: 15px;
    }

}

nav{
    & input{
        z-index: 5;
        position: relative;
        opacity: 0;
        cursor: pointer;
        width: 50px;
        height: 45px;
        margin-top: 5vh;
        margin-left: 3vw;
    }

    /*Me faltan las transiciones de las barras.*/
    & .bars{
        z-index: 3;
        margin-top: -4.5vh;
        margin-left: 3.3vw;
        transform-origin: top left;
        transition: transform 1s ease;
        
        & .bar1, .bar2, .bar3{
            background-color: #F89650;
            border-radius: 5px;
            width: 45px;
            height: 7px;
            margin-bottom: 8px;
            transition: transform 1s ease;
            transform-origin: center center;
        }

        & .bar2{
            background-color: #6C6460;
        }
    }

    & .menu{
        position: fixed;
        z-index: 5;
        right: 100vw;
        
        & div{

            & p{

            }

            & img{
                
            }
        }

        & ul{
            
            & li{

                & a{

                }

                & a:hover{

                }
            }
        }
    }
}

section{
    background-image: url(./images/campero.jpg);
    background-size: 100% 100%;
    border-radius: 10px;
    width: 70vw;
    padding: 1.5em;
    margin-top: 80px;
    margin-bottom: 12vh;
    margin-left: 13.5vw;
    
    & h2{
        position: sticky;
        z-index: 3;
        background-color: #003D6A;
        color: #C5B8D9;
        font-size: 2em;
        text-align: center;
        border-radius: 6px;
        width: 50vw;
        height: 43px;
        top: 5%;
        margin-left: 13%;
    }

    & p{
        color: #C5B8D9;
        font-size: 2em;
        text-align: justify;
        margin-top: 4vh;
        margin-bottom: 2vh;
    }
}

footer{
    position: fixed;
    z-index: 3;
    background-color: #C5B8D9;
    color: #003D6A;
    font-size: 35px;
    text-align: center;
    width: 100%;
    bottom: 40px;
    padding: 10px;
}

/*Bars transitions*/
input[type="checkbox"]:checked~.bars{
    transform: translateX(-0.8vh) translateY(2vh) rotate(-45deg);
    transition-delay: 0.5s;
}

input[type="checkbox"]:checked~.bars .bar1 {
    transform: translateY(15px);
    background-color: white;
}

input[type="checkbox"]:checked~.bars .bar2 {
    opacity: 0;
    transition: 0.7s;
}

input[type="checkbox"]:checked~.bars .bar3 {
    transform: translateY(-16px) rotate(-90deg);
    background-color: white;
}