/*Jorge Muñoz García*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./images/background.jpg);
    background-size: 100% 100%;
}

header{
    position: fixed;
    height: 100%;
    width: 65vw;
    margin-top: 3vh;
    margin-left: 16vw;
    z-index: 2;

    & h1{
        background-color: red;
        color: white;
        font-size: 2.2em;
        text-align: center;
        border: 5px solid white;
        padding-top: 15px;
        padding-bottom: 15px;
    }

}

nav{

    & input{

    }

    & .bars{

        & .bar1, .bar3{

        }

        & .bar2{

        }
    }

    & .menu{

        & div{

            & p{

            }

            & img{

            }
        }

        & ul{

            & li{

                & a{

                }

                & a:hover{

                }
            }
        }
    }
}

section{
    background-image: url(./images/campero.jpg);
    width: 65vw;
    margin-left: 300px;
    border-radius: 10px;

    & h2{
        color: white;
        text-align: center;
    }

    & p{
        color: white;
        text-align: justify;
        margin-top: 20px;
    }
}

footer{
    position: fixed;
    background-color: rgb(177, 125, 184);
    color: rgb(20, 30, 119);
    width: 100%;
    bottom: 20px;
    padding: 15px;
    font-size: 35px;
    text-align: center;
    z-index: 20;
}